/*Ejercicio 1*/
body{
  text-align: center;
}

.div__container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.div__1 {
  position: absolute;
  top: 20px;
  left: -50px ;
  width: 25%;
  height: 200px;
  border: 2px solid black;
}

.div__2 {
  left: 350px;
  position: absolute;
  top: 20px;
  width: 25%;
  height: 200px;
  border: 2px solid black;
}

.div__3 {
  left: 750px;
  position: absolute;
  top: 20px;
  width: 25%;
  height: 200px;
  border: 2px solid black;
}

.div__4 {
  left: 1150px;
  position: absolute;
  top: 20px;
  width: 25%;
  height: 200px;
  border: 2px solid black;
}

.link{
  text-decoration: none;
  color: rgb(24, 153, 84);
}